<footer class="footer navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <h3>Contact us</h3>
        <ul class="list list-column">
          <li>
            <img src="/img/icons/phone.png" class="icon" alt="">
            <span>Company Store US</span>
          </li>
          <li>
            <img src="/img/icons/phone.png" class="icon" alt="">
            <a href="+123 478 52 10">+123 478 52 10</a>
          </li>
          <li>
            <img src="/img/icons/phone.png" class="icon" alt="">
            <a href="mailto:company.fruits@gmail.com">company.fruits@gmail.com</a>
          </li>
        </ul>
      </div>
      <div class="col-3">
        <h3>Products</h3>
        <ul class="list list-column">
          <li><a href="#">Bestseller products</a></li>
          <li><a href="#">Features products</a></li>
          <li><a href="#">Latest products</a></li>
          <li><a href="#">Lorem products</a></li>
          <li><a href="#">Sprecial products</a></li>
        </ul>
      </div>
      <div class="col-3">
        <h3>Service</h3>
        <ul class="list list-column">
          <li><a href="#">About us</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Information</a></li>
          <li><a href="#">Privacy & Policy</a></li>
          <li><a href="#">Terms & Conditions</a></li>
        </ul>
      </div>
      <div class="col-3">
        <h3>Extras</h3>
        <ul class="list list-column">
          <li><a href="#">Search</a></li>
          <li><a href="#">Ipsum</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">All collections</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>