<header class="header">
  <div class="container-fluid">
    <div class="row header-top">
      <div class="col-4">
        <ul class="list header-list">
          <li class="list-item">
            <span>Wish list</span>
          </li>
          <li class="list-item">
            <span>USD</span>
          </li>
          <li class="list-item">
            <img src="/img/icons/phone.png" class="icon" alt="">
            <a href="+123 478 52 10">+123 478 52 10</a>
          </li>
        </ul>
      </div>
      <div class="col-3">
        <div class="logo">
          <img src="/img/logo1.png"alt="">
        </div>
      </div>
      <div class="col">
        <ul class="list header-actions">
          <li class="list-item">
            <img src="/img/icons/loupe.png" class="icon" alt="">
          </li>
          <li class="list-item">
            <a href="#">
              <img src="/img/icons/user.png" class="icon" alt="">
              <span>Register</span>
            </a>
          </li>
          <li class="list-item">
            <a href="#" class="link-align">
              <img src="/img/icons/basket.png" class="icon" alt="">
              <div class="list-text">
                <!-- <span class="amount-items">0</span> -->
                <span>Items</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <ul class="list nav-list">
          <li class="list-item"><a href="/">Home</a></li>
          <li class="list-item"><a href="/fruits">Fruits</a></li>
          <li class="list-item"><a href="/elementum">Elementum</a></li>
          <li class="list-item"><a href="/organic">Organic</a></li>
          <li class="list-item"><a href="#">Seasonal Fruits</a></li>
          <li class="list-item"><a href="#">Fruits basket</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>