<div class="post-wrapper">
  <div class="post-image">
    <img src="/img/post-preview.jpg" alt="">
  </div>
  <div class="post-preview">
    <span class="post-heading">Organic fruit store</span>
    <h2 class="post-caption">Organic fruits</h2>
    <p class="content-preview">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum nisi tenetur iusto amet, commodi unde repellendus. Lorem ipsum dolor sit amet consectetur adipisicing elit. A, possimus accusamus, error, consectetur blanditiis temporibus omnis voluptate debitis natus sequi et corrupti cupiditate esse eius deserunt.</p>
    <a href="#" class="btn-post">Read more</a>
  </div>
</div>